<div class="card mx-auto mb-2" style="width: 80%;">
    <div class="card-header">Payment by Status</div>
    <div class="card-body">
        Chart goes here
    </div>
    <div class="card-footer">See more invoice information <a href="#" class="link-txt-color text-decoration-none">here</a></div>
</div>