<div class="card mx-auto mb-3" style="width: 80%; height: 250px">
    <div class="card-header">Annual Revenue Comparison</div>
    <div class="card-body w-100">
        <div>
            <canvas id="phoneRevenueChart"></canvas>
        </div>

        <div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const annualIncome = {{ annualIncome|json_encode|raw }};

        // Define month labels
        const monthLabels = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

        // Prepare datasets
        const datasets = Object.keys(annualIncome).map(year => {
            const monthlyData = Array(12).fill(0);
            Object.keys(annualIncome[year]).forEach(month => {
                monthlyData[parseInt(month) - 1] = annualIncome[year][month];
            });
            return {
                label: `Revenue ${year}`,
                data: monthlyData,
                fill: false,
                borderColor: [
                    'rgba(155, 199, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 56, 186, 1)',
                ],
                tension: 0.1
            };
        });

        const data = {
            labels: monthLabels,
            datasets: datasets
        };

        const ctx = document.getElementById('phoneRevenueChart').getContext('2d');
        const config = {
            type: 'line',
            data: data,
            options: {
                responsive: true,
                scales: {
                    x: {
                        display: true,
                        title: {
                            display: true,
                            text: 'Months'
                        }
                    },
                    y: {
                        display: true,
                        title: {
                            display: true,
                            position: 'right',
                        },
                        min: 0,
                        max: 10000
                    }
                }
            }
        };

        new Chart(ctx, config);
    });
</script>
