<div class="card mx-auto" style="height: 300px; width: 80%;">
    <h5 class="card-header border-bottom w-100">Neurodiversities</h5>
    <div class="card-body">
        <div class="phone-chart mt-3">
            <canvas id="phoneNeurodiversityChart"></canvas>
        </div>
    </div>
    <div class="card-footer">Learn more about neurodiversities <a href="https://www.health.harvard.edu/blog/what-is-neurodiversity-202111232645" target="_blank" class="link-txt-color text-decoration-none">here</a></div>
</div>

<script>
    const neuroCtxPhone = document.getElementById('phoneNeurodiversityChart').getContext('2d');
    const neurodiversityInfo = {{ neurodiversities|json_encode|raw }};
    const neurodiversityLabels = Object.keys(neurodiversityInfo);
    const neurodiversityValues = Object.values(neurodiversityInfo);
    delete neurodiversityInfo['null'];

    new Chart(neuroCtxPhone, {
        type: 'doughnut',
        data: {
            labels: neurodiversityLabels,
            datasets: [{
                data: neurodiversityValues,
                backgroundColor: [
                    'rgba(75, 192, 192, 0.6)',
                    'rgba(153, 102, 255, 0.6)',
                    'rgba(255, 159, 64, 0.6)',
                    'rgba(255, 99, 132, 0.6)',
                    'rgba(201, 203, 207, 0.6)',
                    'rgba(35, 192, 82, 0.6)'
                ],
                borderColor: [
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(201, 203, 207, 1)',
                    'rgba(35, 192, 82, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: true,
                    position: 'right'
                },
                tooltip: {
                    callbacks: {
                        label: function (context) {
                            const label = context.label || '';
                            const value = context.raw || 0;
                            return `${label}: ${Math.round(value)}`;
                        }
                    }
                }
            },
        }
    });
</script>