{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
{% include '/_partials/_header.html.twig' %}
   <div class="main-container w-100" style="height: 92vh">
       <div class="d-flex flex-wrap justify-content-between mx-auto" style="width: 80%;">
           <div class="card w-100">
               <div class="card-header">Silvestre's SELMA Project</div>
               <div class="card-body">
                   <h5>The project I was tasked with was to create a widget for the SELMA V3 dashboard</h5>
                   <p class="mt-3">This came with many challenges, the first being I had no prior experience with programming in PHP, and Symfony.</p>
                   <p>I also had never thought about tertiary education from an administrative perspective - this was a new lens for me and I had to adjust accordingly.</p>
                   <p>Whenever I had a chance, I would talk to Alan, Zach, or David and show them my progress, get constructive feedback, and then refactor as best as I could. This helped me immensely with learning Symfony as I would approach challenges through my own thought pattern, get it working, and then be taught how it can be improved further.</p>
               </div>
               <div class="card-footer">Written in Symfony, utilizing JavaScript in the front-end where necessary</div>
           </div>
       </div>
   </div>
{% include '/_partials/_footer.html.twig' %}
{% endblock %}

