{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    {% include '/_partials/_header.html.twig' %}
    <div class="main-container w-100" style="height: 100vh;">
        {# Desktop/Tablet View #}
        <div class="d-flex flex-wrap flex-row justify-content-between mx-auto d-md-flex d-none" style="width: 60%; gap: 1rem;">
            {% include '_partials/_myDashboardCard.html.twig' %}
            {% include '_charts/_neurodiversityChart.html.twig' %}
            {% if 'ROLE_REGISTRAR' in app.user.roles or 'ROLE_ADMIN' in app.user.roles %}
                {% include '_partials/_invoiceCard.html.twig' %}
            {% endif %}
            {% include '_charts/_learningStyleChart.html.twig' %}
            {% if 'ROLE_REGISTRAR' in app.user.roles or 'ROLE_ADMIN' in app.user.roles %}
                {% include '_charts/_annualRevenueComparison.html.twig' %}
            {% endif %}
        </div>


        {# Phone Screen View #}
        <div class="d-flex flex-column mx-auto d-block d-sm-none h-100" style="gap: 1rem;">
            <div class="flex-fill">{% include '_phoneCharts/_phoneDashboardChart.html.twig' %}</div>
            <div class="flex-fill">{% include '_phoneCharts/_phoneNeuroChart.html.twig' %}</div>
            <div class="flex-fill">{% include '_phoneCharts/_phoneLearnStyleChart.html.twig' %}</div>
            {% if 'ROLE_REGISTRAR' in app.user.roles or 'ROLE_ADMIN' in app.user.roles %}
                <div class="flex-fill">{% include '_phoneCharts/_phoneRevenueCompChart.html.twig' %}</div>
                <div class="flex-fill">{% include '_phoneCharts/_phoneInvoiceChart.html.twig' %}</div>
            {% endif %}
        </div>
    </div>


{% endblock %}