{% extends 'base.html.twig' %}

{% block title %}Sign Up | Silvestre Project{% endblock %}

{% block body %}

    <nav style="height: 40px; background-color: #fff;"></nav>
    <div class="main-container w-100 h-100">

        <div class="mx-auto" style="background-color: #fff; border-radius: 4px; width: 50%; height: 50%; margin-top: 200px;">

        </div>

    </div>

{% endblock %}